body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather-app {
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-color: rgba(255, 215, 248, 0.551);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

input[type="text"] {
    padding: 8px;
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4px;
}

.location {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forecast-container {
    display: flex;
}

.day-box {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: antiquewhite;
    padding: 15px;
}

.weather {
    font-size: 70px;
}

.temperature {
    font-size: 40px;
    font-weight: bold;
}