body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    background-image: url(https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
}

.weather-app {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 4px;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.condition {
    font-size: 24px;
}

.details {
    font-size: 8px;

}

.humidity,
.pressure,
.precipitation {
    font-weight: bold;
}

.hpp {
    background-color: #fff;
    border-radius: 5px;
    border: 2px;
    padding-left: 4px;
    padding-right: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}